/* src/App.css */
html {
  overscroll-behavior: none;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: top;
  background: linear-gradient(
    to bottom,
    #5c5c5c 0%,
    #844247 15%,
    #73000a 40%,
    #570008 65%,
    #000000 95%,
    #000000 100%
  );
  color: white;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  width: 100%;
}

.Header {
  max-width: 1200px;
  padding: 20px;
  margin: auto;
  margin-bottom: 200px;
  margin-top: 100px;
}

.Title {
  font-size: 36px;
  margin: 0;
}

.Description {
  font-size: 24px;
  margin: 10px 0 0;
}

.Projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  padding: 25px;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 250px;
}

.ProjectTile {
  display: flex;
  border: 8px solid black;
  border-radius: 12px;
  overflow: hidden;
  background: linear-gradient(to bottom, #570008, #844247);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 100%;
  max-height: 400px;
}

.ProjectTileLeftColumn {
  min-width: 200px;
  max-width: 50%;
  display: block;
}
.ProjectTileLeftColumn.expanded {
  width: 66%;
}

.ProjectTile img {
  width: 100%;
  height: auto;
  max-height: 350px;
  object-fit: cover;
}

.ProjectTile.expanded img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.ProjectPicture {
  margin: 25px;
  flex: 0 0 auto; /* Prevents the picture from stretching */
}

.ProjectTileRightColumn {
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden; /* Prevents overflow */
  min-width: 250px;
  padding-right: 25px;
}

.ProjectTitle {
  font-size: 36px;
  margin: 0;
  text-align: center;
  margin-top: 25px;
}

.ProjectDescription {
  font-size: 24px;
  margin-right: 25px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.ProjectDescription.expanded {
  font-size: 24px;
  margin-right: 25px;
  overflow: hidden;
  white-space: wrap;
}

.ProjectLink {
  margin: 0px 0px 10px;
  color: #61dafb;
  text-decoration: none;
}

.ProjectTile:hover {
  transform: scale(1.05);
}

.ProjectTile.expanded {
  grid-column: 1 / -1;
  width: 100%;
  max-width: 1184px;
  transform: scale(1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-height: none;
}

.SingleColumn {
  display: none;
}

@media (max-width: 1000px) {
  .ProjectTileLeftColumn {
    display: none;
  }
  .SingleColumn {
    display: block;
  }
  .ProjectTile {
    max-height: none;
  }
  .ProjectTileRightColumn {
    padding: 0px 20px;
  }
  .ProjectDescription {
    margin: 0px 0px 10px;
  }
  .ProjectPicture {
    margin: 10px 0px;
  }
}

@media (max-width: 800px) {
  .Projects {
    grid-template-columns: 1fr;
  }
  .SingleColumn {
    display: none;
  }
  .ProjectTileLeftColumn {
    display: block;
  }
  .ProjectTile {
    max-height: 400px;
  }
  .ProjectTileRightColumn {
    padding-right: 25px;
  }
  .ProjectDescription {
    margin-right: 25px;
  }
  .ProjectPicture {
    margin: 25px;
  }
}

@media (max-width: 550px) {
  .ProjectTileLeftColumn {
    display: none;
  }
  .SingleColumn {
    display: block;
  }
  .ProjectTile {
    max-height: none;
  }
  .ProjectTileRightColumn {
    padding: 0px 20px;
  }
  .ProjectDescription {
    margin: 0px 0px 10px;
  }
  .ProjectPicture {
    margin: 10px 0px;
  }
}
