/* src/App.css */
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #5c5c5c, #73000a, #000000);
  color: white;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  width: 100%;
}

.Header {
  max-width: 1200px;
  padding: 20px;
  border: 8px solid black;
  border-radius: 12px;
  background: linear-gradient(to right, #570008, #844247);
  margin: auto;
}

.Title {
  font-size: 36px;
  margin: 0;
}

.Description {
  font-size: 24px;
  margin: 10px 0 0;
}

.Projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.ProjectTile {
  display: flex;
  border: 8px solid black;
  border-radius: 12px;
  overflow: hidden;
  background: linear-gradient(to right, #570008, #844247);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 100%;
}

.ProjectTile img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensure the image doesn't stretch and maintains aspect ratio */
}

.ProjectPicture {
  flex: 0 0 auto; /* Prevents the picture from stretching */
}

.ProjectContent {
  flex: 1;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden; /* Prevents overflow */
}

.ProjectTitle {
  font-size: 36px;
  margin: 0;
  text-align: center;
}

.ProjectDescription {
  font-size: 24px;
  margin: 10px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ProjectCaption {
  margin-top: 10px;
}

.ProjectLink {
  margin-top: 10px;
  color: #61dafb;
  text-decoration: none;
}

.ProjectTile:hover {
  transform: scale(1.05);
}

.ProjectTile.expanded {
  grid-column: 1 / -1;
  width: 100%;
  transform: scale(1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.ProjectTile.expanded .ProjectCaption,
.ProjectTile.expanded .ProjectLink {
  display: block;
}

.ProjectCaption,
.ProjectLink {
  display: none;
}
