/* src/App.css */

body {
  margin: 0;
  height: calc(100vh + 500px);
  display: flex;
  justify-content: center;
  align-items: top;
  background: linear-gradient(to bottom, #5c5c5c, #73000a, #000000);
  color: white;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  width: 100%;
}

.Header {
  max-width: 1200px;
  padding: 20px;
  border: 8px solid black;
  border-radius: 12px;
  background: linear-gradient(to bottom, #570008, #844247);
  margin: auto;
  margin-bottom: 20px;
  margin-top: 100px;
}

.Title {
  font-size: 36px;
  margin: 0;
}

.Description {
  font-size: 24px;
  margin: 10px 0 0;
}

.Projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 00px;
  max-width: 1200px;
  margin: auto;
}

.ProjectTile {
  display: flex;
  border: 8px solid black;
  border-radius: 12px;
  overflow: hidden;
  background: linear-gradient(to bottom, #570008, #844247);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 100%;
}

.ProjectTileLeftColumn {
  width: 200px;
}
.ProjectTileLeftColumn.expanded {
  width: 400px;
}

.ProjectTile img {
  width: 150px;
  height: auto;
  object-fit: cover; /* Ensure the image doesn't stretch and maintains aspect ratio */
  margin: 25px;
}

.ProjectTile.expanded img {
  width: 350px;
  height: auto;
  object-fit: cover; /* Ensure the image doesn't stretch and maintains aspect ratio */
  margin: 25px;
}

.ProjectPicture {
  flex: 0 0 auto; /* Prevents the picture from stretching */
}

.ProjectTileRightColumn {
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden; /* Prevents overflow */
}

.ProjectTitle {
  font-size: 36px;
  margin: 0;
  text-align: center;
}

.ProjectDescription {
  font-size: 24px;
  margin-right: 25px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.ProjectDescription.expanded {
  font-size: 24px;
  margin-right: 25px;
  overflow: hidden;
  white-space: wrap;
}

.ProjectLink {
  margin-top: 10px;
  color: #61dafb;
  text-decoration: none;
}

.ProjectTile:hover {
  transform: scale(1.05);
}

.ProjectTile.expanded {
  grid-column: 1 / -1;
  width: 100%;
  max-width: 1184px;
  transform: scale(1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.ProjectTileLeftColumn.expanded {
  max-width: 400px;
}

.ProjectTile.expanded .ProjectCaption,
.ProjectTile.expanded .ProjectLink {
  display: block;
}

.ProjectCaption,
.ProjectLink {
  display: none;
}
